.first-section {
  position: relative;
  top: 65px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.first-section .content {
  width: 75%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
  color: var(--dark-text-color);
  margin-top: 30px;
}
.first-section .content h1 {
  font-size: var(--heading-size);
  text-shadow: 3px 3px 10px var(--second-color);
}
.first-section .content p {
  text-align: justify;
}
.first-section .content span {
  text-align: center;
  font-size: var(--text-size);
  font-weight: bold;
}
.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}

.card-form {
  border-radius: 10px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
    0 17px 17px 0 rgba(0, 0, 0, 0.15);
}
.card-form .form-indicator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0.5em;
  font-size: 20px;
  font-weight: bold;
  background: #27ae60;
  border-radius: 10px 10px 0 0;
}
.card-form .form-body {
  padding: 10px;
}
.card-form .form-body .row {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.card-form .form-body .row h1,
.card-form .form-body .row p{
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}


.card-form .form-body .row input[type="text"],
.card-form .form-body .row input[type="month"] {
  appearance: none;
  width: 100%;
  margin: 0 15px;
  height: 35px;
  padding: 5px 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--second-color);
  font-size: 14px;
}
.card-form .form-body .row .form-block{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card-form .form-body .row .form-block .button {
  text-align: justify;
  line-height: 30px;
  border-radius: 5px;
  border: 1px solid var(--second-color);
  padding: 5px 14px;
  background: #fff;
  margin: 10px;
  font-size: 14px;
  transition: 200ms background-color;
  cursor: pointer;
}
.card-form .form-body .row .form-block .button:hover {
  background-color: #82d14b;
}
.card-form .form-footer {
  margin: 0 25px 15px 25px;
  padding: 15px 10px;
}

.card-form .form-footer .btn {
  text-align: center;
  display: inline-block;
  width: 95%;
  line-height: 30px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background: #82d14b;
  margin: 5px;
  font-size: 14px;
  transition: .2s all;
}

.card-form .form-footer .btn:hover {
  background-color: var(--second-color);
  letter-spacing: 3px;
  text-shadow: 3px 3px 5px var(--dark-text-color);
  cursor: pointer;
}

.second-section {
  padding: 20px 8%;
  position: relative;
  margin-top: 15vh;
}
.second-section h1 {
  font-size: var(--heading-size);
  text-align: center;
  color: var(--dark-text-color);
  text-shadow: 3px 3px 10px var(--second-color);
}
.second-section .products {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.second-section .products .product {
  width: 100%;
  height: 475px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  text-align: center;
  background: rgba(50, 205, 50, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 15px;
  border: 1px solid var(--first-color);
}
.second-section .products .product img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.second-section .products .product h3 {
  margin: 5px 0;
  font-size: var(--sub-heading-size);
  color: var(--dark-text-color);
  text-align: center;
}
.second-section .products .product p span {
  font-weight: bold;
}
.second-section a {
  text-decoration: none;
  color: var(--light-text-color);
  font-size: var(--text-size);
  font-weight: bold;
  border-radius: 45px;
  padding: 15px 20px;
  margin-bottom: 10px;
  background: rgba(20, 63, 23, 0.6);
}
.second-section a:hover {
  letter-spacing: 3px;
  text-shadow: 3px 3px 10px var(--light-text-color);
  transition: 0.5s;
}
@media only screen and (min-width: 400px) {
  :root {
    --heading-size: 40px;
    --sub-heading-size: 22px;
    --text-size: 14px;
  }
  .second-section .products .product {
    width: 75%;
  }
}
@media only screen and (min-width: 650px) {
  :root {
    --heading-size: 40px;
    --sub-heading-size: 22px;
    --text-size: 14px;
  }
  .second-section .products .product {
    width: 40%;
  }
}
@media only screen and (min-width: 900px) {
  :root {
    --heading-size: 40px;
    --sub-heading-size: 24px;
    --text-size: 16px;
  }
  .second-section .products .product {
    width: 22%;
  }
}